body {
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    color: white;
    padding: 30px; 
}

.navbar {
    padding: 0.5rem 1rem;
    border-radius: 10px;
}

.navbar-brand {
    font-weight: bold;
    color: #302b63;
}

.navbar-nav .nav-link {
    color: #0f0c29;
}

.container {
    margin-top: 20px;
    padding: 20px;
    background-color: solid black;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

img {
	height: 50rem;
    width: 80rem;
	margin: 10px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}